<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>

</head>
<body>
<div id="app">
  性别：
  <input type="radio" name="sex" value="男" v-model="uruom"> 男
  <input type="radio" name="sex" value="女" v-model="uruom"> 女
  <br/>
  <p>
    选中了谁:{{uruom}}
  </p>
  <br/>
  <br/>
  下拉单
  <select v-model="selected">
    <option value="">请选择</option>
    <option value="A">A</option>
    <option value="B">B</option>
    <option value="C">C</option>
  </select>
  <span>value: {{selected}}</span>
</div>

<script>
  var vm =  new Vue({
    el: "#app",
    data: {
      message: "幽若梦",
      checked: false,
      uruom: '',
      selected: ''
    }

  });

</script>

</body>
</html>